@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./font/IBMPlexSans-Bold.ttf');
}

.container {
    margin: 50px auto;
    width: 600px;
}

.captcha-utility{
    position: relative;
}

.cpch-container-style {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #c3c3c3;
    background-color: #f1f1f1;
    box-shadow: 2px 2px #dfdfdf;
    padding: 5px;
    top: 0;
    left: 0;
    position: absolute;
}

.check-mark{
    width: 40px;
    margin: 10px;
    position: relative;
    width: 35px;
    transform: rotate(7deg);
    top: -4px;
}

.errorCaptcha{
    color: #ff0000;
    text-align: center;
    padding: 0 0 0 48px;
}



.errorCaptcha span{
    font-size: 40px;
    position: absolute;
    top: 14px;
    left: 8px;
}

.captcha-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2px;
    border-radius: 2px;
    max-width: 350px;
    min-width: 250px;
    position: relative;
}

.captcha-container .captcha-sub-container {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.captcha-container .captcha-sub-container .status-sign {
    width: 60px;
}

.captcha-container .captcha-sub-container .status-sign .checkbox {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: 10px;
    outline: none;
    background-color: white;
    border: 3px solid #a3a3a3;
    transition: 0.2s;
}

.captcha-container .captcha-sub-container .status-sign .active-checkbox:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.captcha-container .captcha-sub-container .status-sign .active-checkbox:active {
    transform: scale(0.9);
}

.captcha-container .captcha-logo {
    width: 85px;
    padding: 5px;
}

.captcha-container .captcha-logo img {
    width: 50%;
    margin: auto;
    display: block;
}

.captcha-container .captcha-logo p {
    margin: 5px;
    font-size: 15px;
    color: #515151;
    font-family: 'IBM Plex Sans', sans-serif;
}

/*---------------------------------captcha-qst--------------------------*/

.captcha-qst {
    width: 450px;
    position: absolute;
    top: -35px;
    left: 35px;
    z-index: 2;
    display: none;
    transition: 0.2s;
}

.show {
    animation: 0.5s smooth_appear;
    display: block;
}

@keyframes smooth_appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.captcha-qst .arrow, .captcha-qst .arrow::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.captcha-qst .arrow{
    border-right: 10px solid #c3c3c3;
    top: 72px;
    left: -10px;
}



.captcha-qst .arrow::before {
    top: -10px;
    left: 2px;
    border-right: 10px solid #f1f1f1;
}

.cpch-container-style .test-title {
    background-color: #4185de;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 20px;
}

.cpch-container-style .button {
    border-radius: 2px;
    outline: none;
    border: none;
    transition: 0.2s;
}

.cpch-container-style .button-active:hover {
    cursor: pointer;
}

.cpch-container-style .button-active:active {
    transform: scale(0.9);
}

.cpch-container-style .blue-button {
    border-radius: 2px;
    padding: 8px 20px;
    font-size: 18px;
    background-color: #4185de;
    color: white;
}

.cpch-container-style .button-with-icon {
    border-radius: 2px;
    padding: 0;
    background-color: transparent;
    margin-left: 15px;
}

.cpch-container-style .button-with-icon img {
    width: 30px;
    margin: 5px;
}

.cpch-container-style .test-control-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cpch-container-style .test-container .test-imag-container {
    background-color: #e7e7e7;
    border-radius: 2px;
    color: #626262;
    padding: 5px;
    min-height: 252px;
    margin: 5px 0;
}

.cpch-container-style .test-container .test-imag-container img {
    margin: 5px auto;
    display: block;
}

.cpch-container-style .test-container .test-imag-container {
    margin: 0 auto;
    display: block;
}

.cpch-container-style .test-container .test-response {
    outline: none;
    display: block;
    font-size: 19px;
    margin: 5px auto;
    width: 100%;
    padding: 5px;
    color: #626262;
    border: 1px solid #a8a8a8;
    box-sizing: border-box;

}

.captcha-qst .test-interface-message{
    height: 20px;
    margin-top: 10px;
}

.cpch-container-style .test-container .error-message {
    font-size: 15px;
    color: #ff4c4c;
    text-align: center;
    margin: 0;
}

/*----------------spinner---------------*/

.loader {
    border-radius: 50%;
    display: inline-block;
    width: 45px;
    height: 45px;
    position: relative;
    border: 3px solid;
    border-color: #d2d2d2 #d2d2d2 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #139e1c #139e1c;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

  .dot-loader {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    top: 8px;
    margin: 0 auto;
    position: relative;
    color: #139e1c;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -15px -12px ,  -5px 0,  5px 0, 15px 0;
    }
    33% {
      box-shadow: -15px 0px, -5px -12px,  5px 0, 15px 0;
    }
    66% {
      box-shadow: -15px 0px , -5px 0, 5px -12px, 15px 0;
    }
    100% {
      box-shadow: -15px 0 , -5px 0, 5px 0 , 15px -12px;
    }
  }
  